<mat-sidenav-container class="layout-container">

  <mat-sidenav
    #drawer
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="isMobile && drawer.close()">Dashboard</a>
      @if (authService.hasRole('Requestor')) { <a mat-list-item routerLink="/requests" (click)="isMobile && drawer.close()">My Requests</a> }
      @if (authService.hasRole('Manager')) { <a mat-list-item routerLink="/manager-approvals" (click)="isMobile && drawer.close()">Manager Approvals</a> }
      @if (authService.hasRole('FinanceAdmin')) { <a mat-list-item routerLink="/finance-approvals" (click)="isMobile && drawer.close()">Finance Approvals</a> }
      @if (authService.hasRole('SystemAdmin')) {
        <a mat-list-item routerLink="/admin/requests" (click)="isMobile && drawer.close()">All Requests</a>
        <a mat-list-item routerLink="/sponsorship-types" (click)="isMobile && drawer.close()">Sponsorship Types</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
       @if (isMobile) {
        <button
          mat-icon-button
          (click)="drawer.toggle()">

          <mat-icon>menu</mat-icon>

        </button>
      }
      <span class="system-title">
        Sponsorship Workflow
      </span>
      <span class="toolbar-spacer"></span>

        @if (!isMobile && authService.currentUser(); as user) {
    <div class="user-info">
      <span class="user-email">{{ user.email }}</span>
      <span class="user-role">({{ user.roles.join(', ') }})</span>
    </div>
  }

        <button
        mat-button
        class="logout-btn"
        (click)="logout()">

        Logout
        </button>
    </mat-toolbar>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
